body {
    font-family: Vazir4;
    background-color: #f7fff7;
}

.navbar {
    margin: 0;
    box-shadow: -3px -43px 12px 53px rgba(0, 0, 0, 0.25);
    padding-left: 6em;
    padding-right: 6em;
    background-color: white;
}

.exitLink {
    color: #ff6b6b;
    font-size: 2em;
}

.container-fluid {
    background: white;
}

.logo {
    width: 4em;
    height: 4em;
}

.badge {
    font-family: Vazir2, sans-serif;
    position: absolute;
    top: 10px;
    right: 8px;
    padding: 1px 3px;
    border-radius: 50%;
    background: rgb(30, 176, 0);
    color: white;
}

.jumbotron {
    background-color: #ff6b6b;
    height: 350px;
}

.jumbotron>.container-fluid {
    background-color: inherit;
}

.flex-container {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.macLogo {
    border: 0.58em solid white;
    border-radius: 10%;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
    width: 25%;
    text-align: center;
    margin-top: -14%;
}

.main-box {
    border: 1px solid gray;
    border-radius: 10px;
}

.submit-btn {
    color: #f7fff7;
    background-color: #4ecdc4;
}

.login-page-word {
    font-size: 3em;

}