.jumbotron-fluid {
    background-size: cover;
    background-image: linear-gradient(rgba(255, 107, 107, 0.6), rgba(255, 107, 107, 0.6)), url('./cover.jpg');
    height: 20em;
    background-position: 0vw 0vw, 0vw -12vw;
    background-repeat: no-repeat;
    background-color: inherit;
}

.main-logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 1.6em;
}

.logo {
    box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.6);
    margin-bottom: 1em;
    border-radius: 50%;
}

.searchBar {
    background-color: white;
    justify-content: center;
    width: 35%;
    margin-top: -4em;
    border-radius: 5px;
    box-shadow: 0px 1px 7px 3px #0006;
}

.search-input {
    text-align: center;
    height: 3em;
    background-color: #ededed;
    border-radius: 5px;
}

.search-btn {
    text-align: center;
    border: none;
    color: black;
    background-color: #ffe66d;
    height: 3em;
    width: 9em;
    border-radius: 5px;
}