.foodPartyfoodName {
    font-size: 1em;
}

.star {
    width: 1em;
    height: 1em;
}

.rate-number {
    top: 1px;
}

.item-img {
    width: 5em;
    height: 5em;
}

.item {
    background-color: white;
    height: 15em;
    width: 16em;
}

.old-price {
    text-decoration-line: line-through;
    text-decoration-color: red;
    color: gray;
}

.buy-btn {
    color: white;
    width: 90%;
    background-color: #4ecdc4;
}

.rmn-number {
    width: 90%;
    background-color: #f6fff7;
    border-radius: 0.5em;
}

.rest-name {
    border-top: dashed #afafaf 2px;
    font-size: 1.3em;
    color: gray;
}