.main-navbar {
    box-shadow: -3px -43px 12px 53px rgba(0, 0, 0, 0.25);
    background-color: white;
    height: 4.5em;
}

.logo {
    width: 4em;
    height: 4em;
}

.exitLink {
    color: #ff6b6b;
    font-size: 2em;
}

.badge {
    position: absolute;
    background-color: #12ff12;
    border-radius: 50%;
    margin-left: -1em;
    background-color: #4ecdc4;
    color: white;
    width: 20px;
    top: 0.7em;
    left: 4.6em;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
    color: rgb(73, 73, 73);
    font-size: 2em !important;
}

.profile-btn {
    font-family: vazir-light;
    font-size: 2em;
    color: gray;
}

.nav-mainLogo{
    width: 4em;
    height: 4em;
    margin-top: 3px;
}