.restaurant-cart  .cart {
    font-family: Vazir;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.restaurant-cart .cart-box {
    font-size: 70%;
    background-color: white;
}

.restaurant-cart .menu-name {
    font-family: Vazir-bold;
    font-size: 20px;
    border-bottom: 2px solid gray;
}

.restaurant-cart .cart-container {
    border: 1px dashed silver;
    border-radius: 20px;
    padding: 0% 10% 10% 10%;
}

.restaurant-cart .total-price {
    font-family: Vazir-bold;
    font-size: 2em;
}

.restaurant-cart .total-sum {
    font-family: Vazir;
    font-size: 1.7;
}

.persian {
    direction: rtl;
}

.restaurant-cart .cart-icon {
    margin-left: 0;
}

.restaurant-cart .food-cart {
    font-size: 1.2em;
}

.restaurant-cart .btn.btn-finalize {
    border-radius: 10px;
    font-family: Vazir;
    background-color: #4ecdc4;
    font-size: 2.7em;
    color: #f7fff7;
}

.restaurant-cart .food-num-cart {
    font-size: 1.4em;
}

.restaurant-cart .food-field-bottom {
    border-bottom: 0.85px solid silver;
}

.restaurant-cart .plus-btn {
    width: 1.2em;
    color: #1a535c;
}

.restaurant-cart .minus-btn {
    width: 1.2em;
    color: red;
}

.restaurant-cart .restaurant-cart .food-name-cart {
    font-size: 1.3em;
}