.cart {
    font-family: Vazir;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.cart-box {
    font-size: 70%;
    background-color: white;
}

.menu-name {
    font-family: Vazir-bold;
    font-size: 1.7em;
    border-bottom: 3px solid gray;
}

.cart-container {
    border: 1px dashed silver;
    border-radius: 20px;
    padding: 0% 10% 10% 10%;
}

.total-price {
    font-size: 1.5em;
}

.persian {
    direction: rtl;
}

.cart-icon {
    margin-left: 0;
}

.food-cart {
    font-size: 1.2em;
}

.btn.btn-finalize {
    background-color: #4ecdc4;
    font-size: 1.85em;
    color: #f7fff7;
}

.food-num-cart {
    font-size: 1.4em;
}

.food-field-bottom {
    border-bottom: 0.85px solid silver;
}


.plus-btn {
    width: 1.2em;
    color: #1a535c;
}

.minus-btn {
    width: 1.2em;
    color: red;
}

.food-name-cart {
    font-size: 1.3em;
}