.order-item-card .food-field-bottom {
    border-bottom: 2px solid silver;
    font-size: 1.5em;
    /* color: #808080; */
}

.order-item-card .food-name-cart {
    font-size: 1.8em;
    font-family: Vazir;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 9rem;
    white-space: nowrap;
}

.order-item-card .food-num-cart {
    font-size: 10em;
    color: #808080;
}

.order-item-card .plus-btn::before {
    font-size: 1.2em;
    color: #1a535c;
}

.clickable {
    cursor: pointer;
    font-size: 10px;
}

.order-item-card .minus-btn::before {
    font-size: 10px;
    color: tomato;
}

.order-item-card .persian {
    direction: rtl;
}

.order-item-card .flex-container {
    display: flex;
    justify-content: center;
}