/* sbody {
    font-family: Vazir;
    font-size: 60%;
    background-color: #f7fff7;
} */

.jumbotron {
    background-color: #ff6b6b;
    height: 350px;
}

.jumbotron>.container-fluid {
    background-color: inherit;
}

.flex-container {
    display: flex;
    justify-content: center;
    /* flex-direction: ; */
}

.macLogo {
    border: 0.75em solid white;
    border-radius: 2em;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    width: 285px;
    height: 285px;
    text-align: center;
    margin-top: -16%;
}