.maincard {
    background-color: white;
    height: auto;
    width: 60em;
    margin-top: 10em;
    border-radius: 3em;
    padding: 4em;
    padding-top: 9em;
    margin-bottom: 14em;
}

.cardOptions {
    position: absolute;
    align-self: center;
    top: -2em;
    width: 60%;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
}

.cardLeftOption {
    background-color: white;
    border-style: hidden;
    border-right-style: dashed;
    border-width: 0.1em;
    border-color: #c4c3c2;
    font-size: 2em;
    color: white;
    border-radius: 12px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    line-height: 3em;
}

.cardRightOption {
    background-color: #ff6b6b;
    border-style: hidden;
    border-left-style: 0.1em;
    border-width: thin;
    border-color: #c4c3c2;
    font-size: 2em;
    color: black;
    border-radius: 12px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    line-height: 3em;
}

input::placeholder {
    text-align: end;
}

.whiteText {
    color: white;
}

.blackText {
    color: black;
}

.btn {
    font-size: 2em;
    background-color: #4ecdc4;
    color: white;
    width: auto;
    border-radius: 20px;
}

.form-control {
    font-size: 2em;
    border-radius: 20px;
    background-color: #efefef;
}

.order-row {
    background-color: #e7e7e7;
    font-size: 1.7em;
    border-radius: 15px;
    margin-bottom: 1em;
}

.order-col {
    border: 1px solid gray;
    height: 2.8em;
    line-height: 2.5em;
}

.order-left-col {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.order-right-col {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.stat-button {
    font-size: 0.8em;
    color: black;
    border-radius: 14px;
}

.btn.stat-in-way {
    background-color: lightgreen;
    color: #676767;
}

.btn.stat-finding {
    background-color: #82e0ff;
    color: #676767;
}

.btn.stat-active {
    background-color: #ffe66d;
    box-shadow: -1px 8px 8px -3px rgba(0, 0, 0, 0.25);
}

.modal-title-row {
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}

.modal-title-col {
    border-bottom: 5px solid #c4c3c2;
    padding: 0.8em;
}

.modal-table-header {
    background-color: #dadada;
}

.total-cost-row {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.7em;
}

.modal-content {
    border-radius: 3em;
}