.restaurant-menu .food .flex-container {
    display: flex;
    justify-content: center;
    /* flex-direction: ; */
}

.restaurant-menu .food {
    border-radius: 8px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.restaurant-menu .food .food-pic {
    border-radius: 8px;
    width: 45%;
    height: auto;
    box-sizing: border-box;
    position: relative;
}

.restaurant-menu .food .food-name {
    font-family: Vazir-medium;
    font-size: 0.95em;
    padding-top: 2%;
}

.restaurant-menu .food .star {
    width: 0.85em;
    height: 0.85em;
}

.restaurant-menu .food .score {
    font-size: 0.85em;
}

.restaurant-menu .food .food-cart {
    font-size: 1.2em;
}

.persian {
    direction: rtl;
}

.restaurant-menu .menu-item-card {
    /* display: flex; */
    /* flex-direction: column; */
}

/* .restaurant-menu input::placeholder {
    text-align: end;
} */

.restaurant-menu .food .btn {
    font-family: Vazir-Bold;
    font-size: 0.7em;
    background-color: #ffe66d;
    color: #676767;
    width: auto;
    border-radius: 8px;
}

.restaurant-menu .food .form-control {
    font-size: 2em;
    border-radius: 20px;
    background-color: #efefef;
} */

.restaurant-menu .food .stat-button {
    font-size: 0.7em;
    /* color: black; */
}

.restaurant-menu .food.btn.stat-in-way {
    background-color: lightgreen;
    color: #676767;
}

.restaurant-menu .food.btn.stat-finding {
    background-color: silver;
    color: #676767;
}

.restaurant-menu .food .btn .stat-active {
    /* background-color: #ffe66d;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.25); */
}

.restaurant-menu .food .btn .btn-finalize {
    background-color: #4ecdc4;
    font-size: 1.85em;
    color: #f7fff7;
    margin-bottom: auto;
}
