.navbar {
    margin: 0;
    box-shadow: -3px -43px 12px 53px rgba(0, 0, 0, 0.25);
    padding-left: 6em;
    padding-right: 6em;
    background-color: white;
}

.logo {
    width: 4em;
    height: 4em;
}

.exitLink {
    color: #ff6b6b;
    font-size: 2em;
}

.badge {
    position: absolute;
    background-color: #12ff12;
    border-radius: 50%;
    margin-left: -1em;
    background-color: #4ecdc4;
    color: white;
    width: 20px;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{
    color: gray;
    font-size: 2em !important;
}

