/* body {
    font-family: Vazir4;
    background-color: #f7fff7;
} */

.login-container .submit-btn {
    color: #f7fff7;
    background-color: #4ecdc4;
}

.flex-container {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
}

.login-container .main-box {
    border: 1px solid gray;
    border-radius: 10px;
}

.login-container .login-page-word {
    font-size: 3em;
}